/*COLOR doraddo rgb(169,155,6)*/
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
@font-face {
    font-family: "RobotoSlab-Regular";
    src: url("../font/RobotoSlab-Regular.ttf");
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("../font/Roboto-Regular.ttf");
}
html {
	background-color: #000;
	font-family: RobotoSlab-Regular;
	font-size: 16px;
	color:#fff;
}
nav {
	background-color: #000;
	width: 100%;
	margin: 10% 0 2% 0;
}
	nav ul li {
		font-size: 1.5rem;
		text-align: center;
		list-style: none;
		float: left;
		width: 25%;
		margin: 0 auto;
	}
	nav ul li a:link, nav ul li a:visited {
		text-decoration: none;
		color:rgb(169,155,6);
	}
	nav ul li a:hover {
		color: #fff;
	}
	.menu-fixed {
		position:fixed;
		z-index:1000;
		top:0;
		width:100%;
		padding:1% 0;
		margin: 0 0;
	}
#a {
	color: #000;
}
.index {
	clear: both;
	overflow: hidden;
	margin: 8% 0 9% 0;
}
	.index p {
		text-align: center;
		overflow: hidden;
		clear: both;
	}
.flecha {
	text-align:center;
	opacity: 0.3;
}
#laCerveceria {
	width: 60%;
	margin: 20% 20% 5% 20%;
	padding-top: 5%;
}
	#laCerveceria p {
		text-align: center;
		letter-spacing: 2px;
		line-height: 1.8rem;
		margin-bottom: 2%;
	}
section.gotBeer {
	background-image: url("../img/gotBeer.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	width: 90%;
	height: 500px;
	margin: 10%;
}
#cervezas {
	width:80%;
	margin: 5% 10% 5% 10%;
}
#cervezas ul li {
	list-style-type: none;
	float: left;
	width: 30%;
	margin-bottom: 10%;
	margin-left: 10%;
	margin-right: 10%;
}

.rotate {
    position:relative;
    overflow:hidden;
    float:left;
}
.rotate li {
    float: left;
}
.rotate figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
}
.rotate img {
    width: 100%;
}
.rotate figure img {
    display:block;
    position:relative;
    z-index:10;

}
.rotate figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.rotate figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
	background-repeat: no-repeat;
	background-position: center;
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
}
.doradaPampeana figure figcaption {
	background-image: url("../img/doradaPampeana-texto.jpg");
}
.creameStout figure figcaption {
	background-image: url("../img/creameStout-texto.jpg");
}
.Scotish figure figcaption {
	background-image: url("../img/Scotish-texto.jpg");
}
.ipa figure figcaption {
	background-image: url("../img/ipa-texto.jpg")
}
.rotate figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
}
.rotate figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg);
}
.rotate figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0);
}
#contacto {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	clear:both;
}
	#contacto h1, #cervezas h1{
		font-size: 1.8rem;
		letter-spacing: 1rem;
		text-align: center;
		color:rgb(169,155,6);
		padding: 9% 0;
	}
	#contacto h2 {
		font-size: 1rem;
		letter-spacing: 0.1rem;
		text-align: left;
		color:rgb(169,155,6);
		padding-top: 5%;
	}
footer {
	background-color: #1F1F1F;
	width: 100%;
	margin-top: 5%;
	padding: 1rem;
}
	footer div.columna1 {
		width: 50%;
		float: left;
	}
	footer p {
		font-family: Roboto-Regular;
		line-height: 1.5rem;
		float: left;
		overflow: hidden;
		margin-left: 3%;
	}
	footer div.columna2 {
		text-align: right;
		width: 50%;
		margin-left: 50%;
	}
	footer div.columna2 a {
		font-size: 1.3rem;
		text-decoration: none; 
		color: #fff;
		margin-right:10%;
		transition: all 0.3s ease;
	}
	footer div.columna2 a:hover {
		color:rgb(169,155,6);
	}







